{{#each data}}
<section class="card">

  {{!-- <a href="/movies/{{id}}"></a> --}}

    <header data-title={{movie_title}} class="movie-title">{{movie_title}}</header>
    <img class="movie-poster" src="https://image.tmdb.org/t/p/w500{{movie_poster}}" alt="{{movie_title}}">
</section>
{{/each}}

{{!-- <script src="./js/savemovie.js"></script> --}}